* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
main {
    height: 100%;
    width: 100%;
    background: #000;
    padding: 10px;
    display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-areas: "div1 div2 div2 div2"
                        " div1 div3 div4 div5";
                        grid-template-rows: 1.5fr 1fr;
                        grid-gap: 10px ;
                        overflow: hidden;
}
.pics1{
 border-radius: 20px;
    grid-area: div1;
    background-image: url(https://i.pinimg.com/736x/e3/57/75/e357754499f40b2ce522139ee10aeed1.jpg);
    background-size: cover;
    background-position: center;
}
.pics2{
     border-radius: 20px;
    grid-area: div2;
        background-image: url(https://i.pinimg.com/1200x/ba/4b/96/ba4b9667901c892bcbf5e959a17e465b.jpg);
            background-size: cover;
             background-position: center ;
        


}
.pics3{
     border-radius: 20px;
    grid-area: div3;
    background: red;
      background-image: url(https://i.pinimg.com/736x/35/ec/89/35ec89c126663a289648e8a7f4c97cbc.jpg);
            background-size: cover;
    background-position: top ;
}
.pics4{
     border-radius: 20px;
    grid-area: div4;
    background: pink;
      background-image: url(https://i.pinimg.com/736x/9a/31/52/9a31525b194c6d18f108656e1ae370b0.jpg);
            background-size: cover;
    background-position: top ;
}
.pics5{
     border-radius: 20px;
    grid-area: div5;
    background: orange;
      background-image: url(https://i.pinimg.com/736x/63/2f/48/632f4879efabb3ff1793fb983ad38a0b.jpg);
            background-size: cover;
    background-position: top ;
}


.pics1, .pics2, .pics3, .pics4, .pics5 {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    position: relative; 
    z-index: 1;        
}

.pics1:hover, .pics2:hover, .pics3:hover, .pics4:hover, .pics5:hover {

    transform: scale(1.03); 
    
    z-index: 10; 
    

    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}