
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html , body {
    width: 100%;
    height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 228, 196);
}
.nav{
    padding: 30px 20px;
}
.main a{
       padding:  20px;
      margin-right: 10px;
          text-decoration: none;
          color: black;
          font-size:  20px;
          text-transform: uppercase;
          font-weight: 600;
}
.middle{
    margin-left: 23%;
    font-size: 40px !important;
    font-weight:  900;
}
.right{
    margin-left: 27%;
}
.main > h1 {
    text-align: center;
    padding: 0 2px;
    font-size: 440px;
    font-weight: 550;
   
}
.bottom-left{
    position: absolute;
    left: 6%;
}
.bottom-left h1{
      font-weight: 100 !important;
}
.bottom-left p {
    font-size: 16px;
    width: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
}
 #img-first {
position: absolute;
top: 50%;
left: 50%;
height: 300px;
width: 200px;
background-size: cover;
 z-index: 10;
}
 #img-second {

position: absolute;
   left: 70%;
    top: 50%;
height: 300px;
width: 250px;
background-size: cover;

}
 #img-third {
    left: 60%;
    top: 70%;
position: absolute;
height: 200px;
width: 250px;
background-size: cover;
}

.bottom{
    position: absolute;
    padding: 30px 20px;
    bottom: 0;
    
}
.bottom a{
    font-size: 35px;
  
}
.inner{
    
    margin-left: 1100px
}