@font-face {
    font-family: SfProSimple;
    src: url(./SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: SfProBold;
    src: url(./SFPRODISPLAYSEMIBOLDITALIC.OTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SfProSimple;
}

html,
body {
    width: 100%;
    height: 100%;
}

.navlink {
    padding: 10px 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

ul {
    list-style: none;
}

.navlink a {
    color: #333336;
    font-family: "SfProSimple";
    font-size: 12px;
    text-decoration: none;
}

.navlink i {
    font-size: 16px;
}

.Hero {
    text-align: center;
    width: 100%;
    height: 85vh;
    background-image: url("./appleHero.jpg");

    background-repeat: no-repeat;

    background-position: bottom center;
    background-size: contain;
    background-color: #F5F5F7;
}

.hero-head {
    font-family: "SfProSimple";
    padding-top: 50px;
    font-size: 21px;
    letter-spacing: 2px;
}

.hero-head i {
    font-size: 51px;
    font-weight: 100;
}

.hero-head span {
    font-weight: 100;
}

.hero-head div {
    margin-top: 10px;
    font-size: 25px;
}

.hero-head button:nth-child(3) {
    color: white;
    height: 45px;
    padding: 0 30px;
    border-radius: 999px;
    background-color: #0076DF;
    border: none;
     letter-spacing: 1px;
    font-size: 17px;
    font-weight: 100;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.hero-head button {
    margin-top: 20px;
}
.hero-head button:nth-child(4){
    height: 44px;
    padding: 0 22px;
    border-radius: 999px;
    background-color: transparent;
    border: 1px solid#67b1f1;
    color: #0a80e7;
    font-weight: 50;
     letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.hero-head button:nth-child(4):hover{
    background-color: #0076DF;
    color: white;
}