@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}


section,
footer,
.achivement-stat {
  display: contents;
}

main {
  width: 100%;
  background: white;
  display: grid;
  /* gap: 10px; */

  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "head head"
    "firm1 firm2"
    "Hero Hero"
    "stat stat"
    "us1 us2"
    "extext extext"
    "testi testi"
    "misacv misacv"
    "missim misstxt"
    "imtxt imimg"
    "gttxt gtimg"
    "ftone fttwo";


 grid-template-rows: 80px 180px 600px 280px 500px  120px 500px 120px 300px 280px 300px 300px;
}


header {
  grid-area: head;
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
   justify-content: space-between;
     padding: 0 40px;
}
.head1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.head1 h1{
  font-size: 25px;
  color: #000000d5;
}
.head1 img{
  height: 80px;
  width: 40px;
object-fit: cover;
}
.head2 .nav-links{

  display: flex;
   gap: 25px;
 width: 100%;
}
.nav-links li {
  list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #4C4C4D;
}
.head3{
  display: flex;
  gap: 7px
}
.head3 button {
  text-align: center;
  height: 42px;          
  padding: 0 24px;      
  border-radius: 999px;  
  font-size: 16px;
  border: 1px solid #0260FE;
   color: #0260FE;
  background-color: transparent;
  cursor: pointer;

  
}
.head3 .btn1{
font-size: 14px;
}
.head3 .btn2{
font-size: 14px;
background-color: #0260FE;
color: white;
}
.head3 .btn2:hover{
background-color: #025efedc;
}


.About-firm{
  grid-area: firm1 / 1 / firm2 / 3; 
  display: grid;
  grid-template-columns: 400px 1fr;
  background: #f6f7f9e1;
}
.About-firm1 {
  
  background: #f6f7f9e1;
  padding: 30px 20px;

}
.About-firm1 h3{
  font-size: 40px;
  font-weight: 200;
   margin-left: 20px;
}
.About-firm2 {
  background: #f6f7f9e1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
 
}
.About-firm2 p{
  width: 900px;
  font-size: 16px;
   color: #4C4C4D;
}
.About-btn{
  display: flex;
  gap: 10px;
}
.About-btn button {
    text-align: center;
  height: 42px;          
  padding: 0 24px;      
  border-radius: 999px;  
  font-size: 16px;
  border: 1px solid #0260FE;
   color: #0260FE;
  background-color: transparent;
    cursor: pointer;
}
.About-btn .abt-btn1{
  font-size: 14px;
}
.About-btn .abt-btn2{
font-size: 14px;
background-color: #0260FE;
color: white;
}
.About-btn .abt-btn2:hover{
background-color: #025efedc;
}
.Hero-sec{
  padding: 40px;
}
.Hero {
  grid-area: Hero;
  background-color: #f6f7f9e1;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hero img{
height: 100%;
width: 100%;
object-fit: cover;
 object-position: center ;
 border-radius: 50px;

}

.stat-section {
  grid-area: stat;
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.stat-section div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-section h1{
  font-size: 60px;
  font-weight: 100;
}
.stat-section p{
    color: #4c4c4d67;
    text-align: center;
}

.about-us {
    background-color: #f6f7f9bb;
  grid-area: us1 / 1 / us2 / 3;
  display: grid;
   max-width: 100%;
   max-height: 500px;
  grid-template-columns: 1.2fr 0.8fr;
    box-sizing: border-box;
    gap: 230px;
}
.about-us1 {
 max-height: 500px;
   background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 40px;
}
.about-us1 button {
      text-align: center;
  height: 42px;          
  padding: 0 24px;      
  border-radius: 999px;  
  font-size: 16px;
  border: 1px solid #4c4c4d67;;
   color: #4c4c4d67;
  background-color: transparent;
    cursor: pointer;
}

.us-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.us-text h3{
  font-size: 35px;
  font-weight: 200;
}
.us-text p {
 font-size: 20px;
  color: #4c4c4dcb;
   line-height: 30px;
}
.about-us2 {
  background-color: transparent;
    height: 100%;
  min-height: 100vh;
   /* padding: 60px 40px; */
   padding-top: 10px;
   padding-bottom: 10px;
  
}


.about-us2 img {

  width: 70%;
  height: 480px;

  border-radius: 50px;
  object-fit: 80%;
  object-position: 20% 20%;
   overflow: hidden;
   overflow-y: hidden;
 
}

.experties-text {
  grid-area: extext;
  background: red;
  padding: 20px;
}

.testimonials {
  grid-area: testi;
  background: yellow;
  padding: 20px;
}

.mission-achivement {
  grid-area: misacv;
  background: red;
  padding: 20px;
}

.mission-img {
  grid-area: missim;
  background: blue;
  padding: 20px;
}

.mission-text {
  grid-area: misstxt;
  background: purple;
  padding: 20px;
}

.impact-text {
  grid-area: imtxt;
  background: blue;
  padding: 20px;
}

.impact-img {
  grid-area: imimg;
  background: purple;
  padding: 20px;
}

.getin-text {
  grid-area: gttxt;
  background: blue;
  padding: 20px;
}

.getin-img {
  grid-area: gtimg;
  background: purple;
  padding: 20px;
}

.fotter1 {
  grid-area: ftone;
  background: blue;
  padding: 20px;
}

.fotter2 {
  grid-area: fttwo;
  background: purple;
  padding: 20px;
}
