* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 1440px;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
}

.container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.box {
  position: relative;
  overflow: hidden;
  width: 300px;
}

.box img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}


.bottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;

  background: linear-gradient(transparent, black);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;

  bottom: -100%;
  transition: bottom 0.25s ease;
}


.top {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: white;
}
.bottom i {
    cursor: pointer;
}

.bottom-div {
  display: flex;
  justify-content: flex-end;
  color: white;
}


.box:hover .bottom {
  bottom: 0;
}


@media (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    columns: 3;
  }
}

@media (max-width: 768px) {
  .container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 1;
  }
}
